*{
    margin:0;
    padding:0;
    align-items: center;
    box-sizing: border-box;
}
.row{
    margin:0;
    padding:0;
}
html{
    margin-top:0;
    margin-bottom: 0;
    margin-left:0;
    margin-right:0;
}
section{
    width:100%;
    float:left;
}
.fixed-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 93%;
}   
@font-face{
    font-family:'Roboto-Black';
    src:url("../fonts/Roboto-Black.ttf")
    }
    @font-face{
        font-family:'Roboto-BlackItalic';
        src:url("../fonts/Roboto-BlackItalic.ttf")
        } 
        @font-face{
            font-family:'Roboto-Bold';
            src:url("../fonts/Roboto-Bold.ttf")
            }
            @font-face{
                font-family:'Roboto-BoldItalic';
                src:url("../fonts/Roboto-BoldItalic.ttf")
                }
                @font-face{
                    font-family:'Roboto-ExtraBold';
                    src:url("../fonts/Roboto-ExtraBold.ttf")
                    }
                    @font-face{
                        font-family:'Roboto-ExtraBoldItalic';
                        src:url("../fonts/Roboto-ExtraBoldItalic.ttf")
                        }
                        @font-face{
                            font-family:'Roboto-ExtraLight';
                            src:url("../fonts/Roboto-ExtraLight.ttf")
                            }
                            @font-face{
                                font-family:'Roboto-ExtraLightItalic';
                                src:url("../fonts/Roboto-ExtraLightItalic.ttf")
                                }
                                @font-face{
                                    font-family:'Roboto-Italic';
                                    src:url("../fonts/Roboto-Italic.ttf")
                                    }
                                    @font-face{
                                        font-family:'Roboto-Light';
                                        src:url("../fonts/Roboto-Light.ttf")
                                        }
                                        @font-face{
                                            font-family:'Roboto-LightItalic';
                                            src:url("../fonts/Roboto-LightItalic.ttf")
                                            }
                                            @font-face{
                                                font-family:'Roboto-Medium';
                                                src:url("../fonts/Roboto-Medium.ttf")
                                                }
                                                @font-face{
                                                    font-family:'Roboto-MediumItalic';
                                                    src:url("../fonts/Roboto-MediumItalic.ttf")
                                                    }
                                                    @font-face{
                                                        font-family:'Roboto-Regular';
                                                        src:url("../fonts/Roboto-Regular.ttf")
                                                        }
                                                        @font-face{
                                                            font-family:'Roboto-SemiBold';
                                                            src:url("../fonts/Roboto-SemiBold.ttf")
                                                            }
                                                            @font-face{
                                                                font-family:'Roboto-SemiBoldItalic';
                                                                src:url("../fonts/Roboto-SemiBoldItalic.ttf")
                                                                }
                                                                @font-face{
                                                                    font-family:'Roboto-Thin';
                                                                    src:url("../fonts/Roboto-Thin.ttf")
                                                                    }
                                                                    @font-face{
                                                                        font-family:'Roboto-ThinItalic';
                                                                        src:url("../fonts/Roboto-ThinItalic.ttf")
                                                                        }
    

.nav-topline {
    background-color: #3948FF;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 8px;
    font-family:'Roboto-SemiBold';
}
#main-navigation-bar {
    width: 100%;
    float: left;
    top: 0;
    /* position: fixed; */
    z-index: 99;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icons {
    display: -webkit-box;
}
.icons img {
    margin-right: 7px;
    max-width: 100%;
}

.icons.social {
    float: right;
    margin-top: -16px;
}
ul.sidemenu {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

ul.sidemenu ul{
    list-style: none;
    padding-left: 0px;
}
ul.nav-bar-content.sidemenu {
    justify-content: right;
}

li a {
    font-size: 16px;
    margin: 0px 24px;
    text-decoration: none;
    font-family: 'Roboto-Medium';
    color: #000000;
}
.enquire-btn {
    background-color: #3948FF;
    color: white !important;
    padding: 10px 16px;
    font-family: 'Roboto-Regular';
    border-radius: 40px;
    font-size: 16px;
    border: 1px solid #3948FF;
    text-decoration: none;
}
.sub-head {
    margin: 0px;
    padding-bottom: 5px;
    font-size: 22px;
    font-family: 'Roboto-Medium';
    color: #3948FF;
}
.hoverings-he {
    display: inline-block;
    float: inline-end;
    margin: 17px 0px;
    padding:5px 11px;
}
.nav-bar {
    margin: 0px;
    background: #ffffff;
    padding: 10px 0px;
}
.slid-img .paragraph {
    min-height: 107px;
}
.paragraph {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    margin: 0px;
    line-height: 1.4;
}
.heading-p {
    font-size: 18px;
    font-family: 'Roboto-Medium';
    color: #3948FF;
    line-height: 1.2;
    margin: 0px;
    padding-bottom: 5px;
}
.fade:not(.show) {
    opacity: 1 !important;
    background-color: transparent;
}
.header-menu {
    text-align: right;
    float: right;
}
.nav-bar-content {
    display: flex;
    float: right;
    justify-content: end;
}
.row.row-sec-one {
    padding: 15px 0px 30px 0px;
}
.row.row-sec-sec {
    padding: 30px 0px 15px 0px;
}

.row-box1 {
    background: #3db6ff;
}
.row-box{
    margin: 10px;
    padding:24px;
    border-radius: 10px;
}
.row-box2 {
    background: #3dcfae;
}
.row-box3 {
    background:#9169f6;
}
.about-us-brief-div {
    width: 80%;
    margin: 0 auto;
}
.row-inside img {
    max-width: 100%;
    width: 74px;
}
.row-inside p {
    color: white;
    font-size: 36px;
    font-family: 'Roboto-Bold';
}
.row-inside {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
p.row-box-p {
    color: white;
    font-family: 'Roboto-Medium';
    font-size: 18px;
}
.row.row-sec-one span {
    font-family: 'Roboto-Medium';
    font-size: 16px;
}

.row.row-sec-one p {
    margin: 0px 0px 8px 0px;
    font-size: 16px;
    font-family: 'Roboto-Medium';
}

.row.row-sec-one h2 {
    font-size: 36px;
    font-family: 'Roboto-Bold';
}

.row.row-sec-one h2 {
    font-size: 36px;
    font-family: 'Roboto-Bold';
}

.row.row-how-we img {
    max-width: 100%;
    width: 80%;
    border-radius: 18px;
    margin: 0 auto;
    /* float: inline-end; */
    height: 256px;
    object-fit: cover;
}
section#how-we-work-sec {
    background: #F9FAFF;
    padding: 50px 0px;
}
.row.row-how-we p {
    font-size: 16px;
    font-family: 'Roboto-Regular';
}

.row.row-how-we h3 {
    font-size: 28px;
    font-family: 'Roboto-Bold';
}
.row.row-how-we {
    align-items: flex-start;
}
.how-we-work-div p {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    margin: 0px 0px 25px 0px;
}

.how-we-work-div h3 {
    font-size: 32px;
    font-family: 'Roboto-Bold';
    margin: 0px 0px 4px 0px;
}
.how-we-work-div {
    text-align: center;
    width: 68%;
    margin: 0 auto;
}
.row.row-how-we img {
    max-width: 100%;
    width: 100%;
    border-radius: 18px;
    margin: 0 auto;
    /* float: inline-end; */
}


.how-we-work-full {
    width: 85%;
    margin: 0 auto;
}
.row.row-how-we-wordk {
    padding: 26px 0px;
    align-items: baseline;
}
.head {
    font-size: 18px;
    font-family: 'Roboto-Bold';
    margin: 9px 0px 7px 0px;
}
section#construction-materi {
    background: #F9FAFF;
    padding: 50px 0px;
}
.contructin-div img {
    max-width: 100%;
    width: 100%;
    border-radius: 12px;
}
.middle-image img {
    height: 429px;
    object-fit: fill;
}

.sub-heads {
    font-size: 16px;
    font-family: 'Roboto-Regular';
}

section#why-choose-us-sec {
    padding: 50px 0px;
}
.why-choose-us-div img {
    max-width: 100%;
    width: 70%;
    border-radius: 10px;
}
.col-each {
    padding: 15px;
}

section#projects-image-sec {
    padding: 50px 0px;
    background: #F9FAFF;
}

.eac-boc a {
    font-size: 16px;
    position: absolute;
    bottom: 24px;
    left: 25px;
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto-Medium';
}
.slide {
    background: #eaeaec;
    border-radius: 9px;
}

.eac-boc {
    position: relative;
    padding: 10px;
}
.eac-boc a:after {
    content: '\f138';
    font-family: fontawesome;
    margin-left: 3px;
}
section#architech {
    padding: 50px 0px;
}

.architech-div img {
    max-width: 100%;
    width:100%;
    float: right;
}
.slid-img a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto-Medium';
}
.slid-img p {
    font-size: 20px;
    font-family: 'Roboto-Bold';
    margin: 0px;
}
.architech-div {
    width: 80%;
    border-radius: 16px;

    margin: 0 auto;
    background: #BEC6FD;
    padding: 48px;
}
/* #services .slick-list.draggable {
    padding: 0px 0px !important;
} */
#services .slide{
    position: relative;
}
.slid-imgss p {
    position: absolute;
    top: 9px;
    left: 11px;
}
.slid-imgss p:after {
    content: '\f101';
    font-family: 'FontAwesome';
    position: absolute;
    right: -133px;
}
.latest-desi-div {
    display: flex;
    flex-wrap: wrap;
}
.latest-desi-div img {
    max-width: 100%;
    width: 70%;
    padding: 13px;
    margin: 0 auto;
}
/* .latest-desi-div img {
    max-width: 100%;
    width: 40%;
    padding: 13px;
} */
section#latest-desi-sec {
    padding: 50px 0px;
}
section#about-us-sec {
    background: white;
    padding: 50px 0px;
}
section#about-us-breif {
    padding: 50px 0px;
}
.image-value {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.image-value-each p {
    padding: 0px;
    padding-left: 7px;
}
.blogs-each {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 19px;
    margin: 4px;
}
.blogs-each h5 {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    min-height: 54px;
    padding-top: 7px;
}
.blogs-each img {
    max-width: 100%;
    /* border-radius: 19px; */
    height: 172px;
    width: 100%;
}
section#blogs-sec {
    padding: 50px 0px;
}
.left-img {
    display: flex;
}
.blogs-each-sec a {
    color:#3948ff;
    text-decoration: none;
    font-family: 'Roboto-Bold';
}
.blogs-each-sec p {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    
    padding: 5px 0px;
}
.blogs-each-sec {
    padding: 10px;
}
section#blogs-sec h3 {
    margin-bottom: 20px;
}

.blogs-each-sec a:after {
    content: '\f105';
    font-family: 'FontAwesome';
    margin-left: 7px;
}
section#trusted-by-log {
    background: #0D1D32;
    padding: 50px 0px;
}
.trusted-by-div {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.trusted-by-div img {
    max-width: 100%;
    width: 16%;
    height: 80px;
}
section#trusted-by-log h6 {
    font-size: 32px;
    color: white;
    text-align: center;
    font-family: 'Roboto-Bold';
    margin-bottom: 22px;
}



.left-img img {
    max-width: 100%;
    width: 70px;
    margin-right: 10px;
}
.date {
    font-size: 14px;
}
.testi-head {
    text-align: center;
    /* padding: 0px 0px 20px 0px; */
}
.testi-full-p{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin: 10px;
    padding:20px 15px;
}
section#testimonials-sec {
    padding: 50px 0px;
    background: #f7f6bb;
}
.testimonial-content-full .paragraph {
    padding: 15px 0px;
}

  ul.sidemenu li {
    display: inline-block;
}
ul.nav-bar-content.sidemenu {
    display: inline-block;
    margin: 0px;
}
ul.nav-bar-content.sidemenu li a:hover {
    color: #3948FF;
    /* text-decoration: underline 2px;
    text-underline-offset: 6px; */
}

#footer {
    width: 100%;
    padding: 10px 0px;
    float: left;
    background-color: #F5F5F5;
}
.footer-part li {
    list-style: none;
    font-size: 14px;
    color:#1B1B1B;
    line-height: 1.6;
    font-family:'Roboto-Medium';
}
.footer-part {
    text-align: left;
}
.footer-small-icons {
    text-align: center;
}
.footer-img {
    text-align: center;
}
.footer-part h4 {
    font-size: 20px;
    color:#3948FF;
    font-family:'Roboto-Bold';
}

.footer-part li:hover{
    text-decoration: underline;
    }
    ul {
        padding-left: 0px !important;
    }
    .tops {
        margin-top: 42px;
    }

.footer-links{
    align-items: baseline;
}
.container-align-center {
    margin-top: 31px;
}
.footer-icon li {
    margin: 10px 0px;
}
.footer-icon img {
    margin-right: 6px;
}
ul.sidemenu li {
    position:relative;
}
ul.sidemenu li {
    display: inline-block;
}
#copyright{
    width: 100%;
        float: left;
        background: #3948FF;

    }

    #copyright p {
        color: #fff;
        padding-top: 9px;
        font-size: 12px;
        text-align: center;
    }
    .full-sticky-footer{
        display: none;
     }

     #copyright p {
        color: #fff;
        padding-top: 9px;
        font-size: 12px;
        text-align: center;
        font-family: 'Roboto-SemiBold';
    }
    #copyright img {
        margin-right: 6px;
    }

    .footer-down-logo #openform:hover {
        background-color: none !important;
        color:none !important;
    }
    .footer-down-logo img {
            width: 23%;
        padding: 4px 0px;
    }
    .footer-down-logo h6 {
        border: none;
        padding: 8px 0px;
        background: #fff!important;
        color: #06494c!important;
    }
    
li.menu-dropdown-iconh:after{
    position: absolute !important;
    right:2%;

    display: inline-block;
    font: 14px/1 'FontAwesome';
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0d7";
    right: 12px;
    top: 15px;
    color: #fff!important;



}
    
    li.menu-dropdown-iconh.of-dwn:after{
    content:"\f0d8" !important;
    position: absolute;
    }
    .nav-bar img {
        max-width: 100%;
        width: 60%;
    }
    .testi-full-p h3 {
        padding: 0px;
    }
    
    
    
   .enquire-btn:hover {
        background: white;
        color: #3948FF !important;
        text-decoration: none !important;
        border: 1px solid #3948FF;
        transition: .5s;
    }
    .heading {
        font-size: 36px;
        font-family: 'Roboto-Bold';
        text-decoration: underline 3px solid #FCDC2A;
        text-underline-offset: 8px;
        color: #3948FF;
        margin: 0px;
        padding-bottom: 13px;
    }
    
    
    .heading-div {
        text-align: center;
    }


    .enquire-btn {
        transition: .5s;
    }
    .value-us-div {
        padding: 10px 0px;
    }
 .enquire-btn :hover {
        background: white;
        color: #3948FF !important;
        text-decoration: none !important;
        border: 1px solid #3948FF;
        transition: .5s;
    }
    .enquire-btn{
        transition: .5s;
    }
    /* .hero-sec {
        margin-top: 80px;
    } */

    .slick-slide {
       
        background: #f9faff;
        margin: 10px;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        border-radius: 8px;
    }
    .slid-img {
        /* padding: 10px; */
        border-radius: 37px;
    }
     
section#projects-image-sec img {
    max-width: 100%;
    width: 100%;
    height:400px
}


.row.row-how-we-wordk {
    justify-content: center;
}






#home-banner {
    background: #F7F6BB;
    padding: 50px 0px;
}
    .mb{
        display: none;
    }
    
    img.mb {
        max-width: 100%;
        width: 100%;
    }
    img.dt {
        max-width: 100%;
        width: 100%;
    }
    
    header{
        width: 100%;
        float: left;
        background: #3948FF;
        /* padding: 5px 0; */
    }
    .home__slider-main.slick-initialized.slick-slider .slick-prev.slick-arrow {
        display: none;
        visibility: hidden;
        left: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .home__slider-main.slick-initialized.slick-slider .slick-prev.slick-arrow:before{
        left: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f104';
        font-family: 'FontAwesome';
        visibility: visible;
        font-size: 24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    
    .home__slider-main.slick-initialized.slick-slider .slick-next.slick-arrow {
        display: none;
        visibility: hidden;
        right: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .home__slider-main.slick-initialized.slick-slider .slick-next.slick-arrow:before{
       right: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f105';
        visibility: visible;
        font-family: 'FontAwesome';
        font-size:24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    #home-banner ul.slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0px 0px 10px 0px;
    }
    
                                                                            
    #home-banner .slick-slide img {
        width: 100%;
        max-width: 100%;
    }
    #home-banner li.slick-active button{
        background: #3948FF !important;
    }
    .vis-mis-div img {
        max-width: 100%;
        width: 65px;
    }
    
    .vis-mis-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .vis-iso .paragraph {
        padding: 15px 0px;
    }
    














    .service__slider-main.slick-initialized.slick-slider .slick-prev.slick-arrow {
        display: none;
        visibility: hidden;
        left: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .service__slider-main.slick-initialized.slick-slider .slick-prev.slick-arrow:before{
        left: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f104';
        font-family: 'FontAwesome';
        visibility: visible;
        font-size: 24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    
    .service__slider-main.slick-initialized.slick-slider .slick-next.slick-arrow {
        display: none;
        visibility: hidden;
        right: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .service__slider-main.slick-initialized.slick-slider .slick-next.slick-arrow:before{
       right: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f105';
        visibility: visible;
        font-family: 'FontAwesome';
        font-size:24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }

    section#services {
        padding: 50px 0px;
        background-color: #F9FAFF;
    }
    
    




    #home-banner ul.slick-dots li button {
        background: black;
        border-radius: 18px;
        border: none;
        font-size: 0px;
        padding: 3px;
        margin: 1px;
    }
    .about-us-image img {
        max-width: 100%;
        width: 100%;
    }
    .vis-iso {
        padding: 10px;
        border: 2px solid #f0f5f0;
        border-radius: 8px;
    }
    .vision-mission-div h4 {
        color: white;
    }
   #contact-us-sec .row {
    background: white;
    --bs-gutter-x: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
form#contactform {
    padding: 0px 40px;
}
.form-field.form-submit:focus-visible {
    border: none;
    outline: none;
}
    .col-img img {
        max-width: 100%;
    }
#contact-us-sec{
    background: #87A922;
    padding: 50px 0px;

}
.heading-div-cont {
    text-align: center;
    padding: 0px 0px 30px 0px;
}




    #vision-mission-sec{
        background:#3948FF;
        padding: 50px 0px;
    }
    .vision-mission-div p{
        color: white;
    }
@media(max-width:991px) and (min-width:768px){
    .slid-img .sub-head {
        min-height: 57px;
        line-height: 1.2;
    }
    .sub-head {
        line-height: 1.2;
    }
    .form-control {
        padding: 4px 10px !important;
        background-color: #D9D9D9 !important;
    }
    
}










@media(max-width:991px){
    .enquire-hide{
        display: none !important;
    }
    .vision-mission-div h4 {
        text-align: center;
        padding: 0px 0px 20px 0px;
    }
    .sub-head{
        font-size: 18px !important;
    }
    .heading {
        font-size: 26px;
    }   
    .heading-p {
        font-size: 16px;
    }
    
    .paragraph {
        font-size: 14px;
        /* min-height: 90px; */
    }
    .hoverings-he {
        margin: 8px 0px 10px 0px;
        font-size: 14px;
    }
    .nav-topline {
        display: none;
    }
    .show {
        right: 0 !important;
        transition: all 0.6s ease-in-out;
        width:100% !important;
    }
    .menuicon.active:after{
        z-index:999;
        background: url(../images/cancel.webp) no-repeat;
        transition: 1s;
    
    }
    .menuicon{
        position: relative;
        width:40px;
        height:40px;
        display:inline-block;
    }
    .menuicons:after {
        content: "\f0c9";
        position: absolute;
        display: inline-block;
        color: #3948FF;
        width: 40px;
        height: 40px;
        top: 21px;
        right: 54px;
        font: 39px/1 'FontAwesome'!important;
        text-rendering: auto;
        /* background: url("../images/more.webp") no-repeat; */
    }
    ul.nav-bar-content.sidemenu {
        display: inline-block;
        margin-top: 50px;

    }
    .menuicons.active:after{
  
    content: "\f00d";
    color: #fff;
    font: 39px/1 'FontAwesome'!important;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    z-index: 999;
    position: fixed;
    top: 21px;
    right: 54px;
    }
   .menu-hide{
    width:320px;
    position: fixed;
    transition: all 0.6s ease-in-out;
    right:-320px;
    background: #3948FF;
    height: 100vh;
    z-index: 9;
    top: 0;

   }
   .nav-bar-content{
    display: none;

    }

    .full-sticky-footer{
    background: #3948FF;
    border-bottom: 1px solid #3948FF;
    position: fixed;
    bottom:0;
    z-index: 99;
    left:0;
    width: 105%;
    right: 0;
    color:white;
    display: inline-flex;
   padding: 12px;
   }
  ul.sidemenu li ul{
    display: none;
   }
    ul.sidemenu {
        margin-top: 52px;
        width: 100%;
    }
    ul.sidemenu li a {
        color: #fff!important;
        padding: 0;
        display: inherit;
        font-size: 16px;
        font-family:'Roboto-Bold';
        text-decoration: none!important;
        cursor: pointer;
    }
    ul.sidemenu li {
        width: 100%;
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #3948FF;
    }
    .footer-down-logo img {
        width: 11%;
    }
    .footer-down-logo{
        display: inline-block;
            width: 30%;
        text-align: center;
        outline:0;
    }
    .footer-down-logo:focus-visible{
        outline:0 !important;
    }
    .footer-down-logo p {
        font-family: 'Inter-Medium';
        font-size: 12px;
        color: White;
    }
}
@media(max-width:575px){
    .footer-div {
        padding: 10px 0px;
        display: block !important;
    }
    .menuicons:after {
        top: 13px !important;
        right: 37px !important;
    }
}
ul.nav-bar-content.sidemenu li ul li a:hover {
    color: #ffffff;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}
.on-banner-content {
    position: absolute;
    top: 20%;
    text-align: center;
    left: 0;
    right: 0;
}
section.hero-section {
    position: relative;
}
.on-banner-content p {
    font-family: 'Roboto-Regular';
    font-size: 18px;
}

.on-banner-content h1 {
    font-family: 'Roboto-Bold';
    font-size: 40px;
}
.on-banner-content a {
    color: white !important;
    background: #3948ff;
    padding: 9px 12px;
    text-decoration: none;
    font-family: 'Roboto-Medium';
    border-radius: 33px;
}







@media(min-width:991px){
    li.menu-dropdown-iconh:after 
    {
        display: none;
    }
    .form-control {
        padding: 12px !important;
    }
    
    ul.sidemenu li ul{
        position: absolute;
        width:110px;
        display: grid;
        background-color: #3948FF;
        transition: all 0.6s ease;
        z-index:9;
        text-align: left;
        top:50%;
        opacity: 0;
       
        visibility: hidden;
     }
     ul.sidemenu li:hover ul{
        opacity: 1 !important;
        visibility: visible !important; 
        transition: all 0.6s ease;
        top:100%;
        }
        ul.sidemenu li ul a{
             font-size: 15px;
             font-family:'Roboto-Bold';
        color:white;
        text-decoration: none!important;
        cursor: pointer;
    }
}




@media(max-width:768px){
    .dt{
        display: none;
    }
    
    .mb{
        display: inline-block;
    }
    .on-banner-content {
        position: relative;
    }
    .on-banner-content h1 {
        font-size: 26px;
    }
    .on-banner-content {
        padding: 20px;
    }
    .row.row-sec-one h2 {
        font-size: 24px;
    }
    .row.row-sec-one p {
        font-size: 14px;
    }
    .row.row-sec-sec {
        padding: 10px 0px 15px 0px;
    }

    .row-inside p {
        font-size: 28px;
    }
    p.row-box-p {
        font-size: 14px;
    }
    .row-inside img {
        max-width: 100%;
        width: 66px;
    }

    .how-we-work-div h3 {
        font-size: 24px;
    }
    .how-we-work-div p {
        font-size: 14px;
    }
    .row.row-how-we h3 {
        font-size: 20px;
    }
    .row.row-how-we p {
        font-size: 14px;
    }
    .row.row-how-we-wordk {
        padding: 10px 0px;
        text-align: center;
    }
    .head {
        font-size: 16px;
        margin: 2px 0px 3px 0px;
    }
    .sub-heads {
        font-size: 14px;
    }
    .slid-img-new h4 {
        font-size: 20px !important;
    }
    .slid-img-new p {
        font-size: 14px !important;
    }

    .architech-div {
        width: 100%;
    }
    .one-testi-div {
        display: block !important;
        width: 100% !important;
    }    

    .one-testi-div img {
        width: 78% !important;
    }    
    section#about-us-breif {
        padding: 30px 0px;
    }

    .about-us-brief-div {
        width: 100%;
    }
    .how-we-work-div {
        width: 100%;
    }    

    section#how-we-work-sec {
        padding: 30px 0px;
    }

    section#why-choose-us-sec {
        padding: 30px 0px;
    }
    section#architech {
        padding: 30px 0px;
    }
    .architech-div {
        padding: 21px;
    }
    section.faq-section {
        padding: 30px 0px !important;
    }
    .head-title h6 {
        font-size: 24px !important;
    }
    .emp-list-title h3 {
        font-size: 14px !important;
    }
    .tw-accordion {
        width: 100% !important;
    }
    .one-testi-small h6 {
        font-size: 24px !important;
    }
    .one-testi-small p {
        font-size: 14px !important;
    }
    .emp-list-accordion p {
        font-size: 14px !important;
    }
    section#show-more-footer {
        padding:30px 0px;
    }
    .blogBox.moreBox p {
        font-size: 14px !important;
    }
    .how-we-work-full {
        width: 100%;
    }
    section#footer-sec {
        padding: 30px 0px 20px 0px !important;
    }

    .serv {
        margin-top: 17px !important;
    }

    .footer-div img {
        width: 10% !important;
    }



}
textarea#message {
    margin-bottom: 19px;
}
.form-control {
    background-color: #D9D9D9 !important;
    margin: 16px;
}

.footer-div {
    color: white;
    padding: 0px 0px;
}
.footer-div img {
    max-width: 100%;
    width: 100px;
}
section#footer-sec {
    background: #f7f6bb;
    padding: 50px 0px 20px 0px;
}
.footer-div a {
    background: #3948FF;
    font-size: 16px;
    font-family: 'Roboto-Medium';
    color: white;
    text-decoration: none;
    padding: 12px 11px;
    border-radius: 34px;
}
.footer-div h6 {
    font-size: 16px;
    font-family: 'Roboto-Bold';
}
.footer-div p {
    font-size: 14px;
    font-family: 'Roboto-Light';
    margin: 5px 0px;
}
.copy-right-div {
    text-align: center;
    border-top: 1px solid #ffffff47;
    margin-top: 25px;

}
.footer-div img {
    max-width: 100%;
    width:35px;
}
.footer-div .row {
    align-items: baseline;
}

input#submit {
    padding: 6px 25px;
    border: none;
    border-radius: 60px;
    background: #3948FF;
    color: white;
    font-size: 16px;
    font-family: 'Roboto-Medium';
    /* margin: 21px 0px; */
}
.btn:active {
    outline: none;
    border: none;
}
.col-content {
    padding: 0px 40px;
}

@media(max-width:767px){
.nav-bar img {
    max-width: 100%;
    width: 25%;
}
/* .hero-sec {
    margin-top: 66px;
} */
}
@media(min-width:1200px){
    .nav-topline {
        font-size: 14px;
    }
}

section#our-vehicles-sec {
    background: #3948FF;
    padding: 10px 0px 0px 0px;
}
@media(max-width:1024px){
    
    .sub-head{
        font-size: 20px;
    }
}

@media(max-width:1200px) and (min-width:991px){
    ul.sidemenu li {
        padding: 15px 0px !important;
    }
    li a {
        font-size: 16px;
        margin: 0px 16px;
    }
}
@media(max-width:1175px) and (min-width:991px) {
    .profirst.active {
        transform: translateX(55px) !important;
    }
  
    }
    @media(max-width:991px) and (min-width:600px) {
        .row.align-vehi.neev-tez-vehvi .profirst img {
            width: 61% !important;
        }
    }


    @media(max-width:991px) and (min-width:768px) {
    .profirst.active {
        transform: translateX(35px) !important;
    }
        .neev-tez-vehvi .profirst.active {
            width: fit-content !important;
            transform: translateX(281px) !important;
        }
        img.pro-first-img {
            width: 61%;
        }
    }



    /* @media(min-width:768px) { */

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
    .profirst {
        position: relative;
        transform: translateX(0);
        transition: 2s all ease;
        width: 75% !important;
    }
    .profirst.active {
        transform: translateX(40%);
        width: 75% !important;
    }
    label{
        display: none !important;
    }
/* } */
    .neev-tez-vehvi .profirst.active {
        width: fit-content !important;
        transform: translateX(414px) !important;
    }
    img.pro-first-img {
        /* width: 100%; */
        /* animation-name: deckanimation;
        animation-duration: 7s;
        animation-iteration-count: infinite; */
        /* animation-direction:alternate; */
    }
    img.pro-first-img {
        width: 37%;
        /* animation-direction: alternate; */
        max-width: 100%;
    }

    @keyframes deckanimation{
        0%{
            margin-left: 0%;
        }
        100%{
            margin-left:40%;
        }
    }
    

    .slid-img-new p {
        font-size: 18px;
        font-family: 'Roboto-Regular';
    }
    
    .slid-img-new h4 {
        font-size: 32px;
        font-family: 'Roboto-Bold';
    }
    /* .slid-img-new {
        width: 50%;
    } */


    div#project__slider .slider-for.slick-initialized.slick-slider .slick-next.slick-arrow {
        display: none;
        visibility: hidden;
        right: 36%;
        position: absolute;
        bottom: 59%;
        top: 130%;
    }

    div#project__slider .slider-for.slick-initialized.slick-slider .slick-prev.slick-arrow {
        display: none;
        visibility: hidden;
        left: 36%;
        position: absolute;
        bottom: 59%;
        top: 130%;
    }

    div#project__slider .slider-for.slick-initialized.slick-slider .slick-next.slick-arrow:before {
       
        /* top: 50%; */
        visibility: visible;
        font-family: 'FontAwesome';
        font-size: 24px;
        color: #5d5d5d;
        font-weight: 300;
        background: #ffffff;
        padding: 0px 11px;
        border-radius: 66%;
        border: 1px solid grey;
    }
    ul.slick-dots button {
        padding: 4px;
        border-radius: 16px;
        border: none;
        color: black;
        background: #3948FF;
    }
    ul.slick-dots li {
        font-size: 0px;
        padding: 6px;
        border-radius: 72px;
    }
    ul.slick-dots {
        list-style: none;
        display: flex;
    }
    div#project__slider .slider-for.slick-initialized.slick-slider .slick-prev.slick-arrow:before {
      
        /* top: 50%; */
        visibility: visible;
        font-family: 'FontAwesome';
        font-size: 24px;
        color: #5d5d5d;
        font-weight: 300;
        background: #ffffff;
        padding: 0px 11px;
        border-radius: 66%;
        border: 1px solid grey;
    }
    
        


    .latest-desi-div .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
      }







      .project_slider-nav.slick-initialized.slick-slider .slick-prev.slick-arrow {
        display: none;
        visibility: hidden;
        left: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .project_slider-nav.slick-initialized.slick-slider .slick-prev.slick-arrow:before{
        left: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f104';
        font-family: 'FontAwesome';
        visibility: visible;
        font-size: 24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    
    .project_slider-nav.slick-initialized.slick-slider .slick-next.slick-arrow {
        display: none;
        visibility: hidden;
        right: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .project_slider-nav.slick-initialized.slick-slider .slick-next.slick-arrow:before{
       right: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f105';
        visibility: visible;
        font-family: 'FontAwesome';
        font-size:24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    .slider-for.slick-initialized.slick-slider .slick-prev.slick-arrow {
        display: none;
        visibility: hidden;
        left: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .slider-for.slick-initialized.slick-slider .slick-prev.slick-arrow:before{
        left: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f104';
        font-family: 'FontAwesome';
        visibility: visible;
        font-size: 24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    
    .slider-for.slick-initialized.slick-slider .slick-next.slick-arrow {
        display: none;
        visibility: hidden;
        right: -4%;
        position: absolute;
        bottom: 50%;
        top: 50%;
    }
    .slider-for.slick-initialized.slick-slider .slick-next.slick-arrow:before{
       right: 2%;
        position: absolute;
        bottom: 50%;
        /* top: 50%; */
        z-index: 54;
        content: '\f105';
        visibility: visible;
        font-family: 'FontAwesome';
        font-size:24px;
        color: #ffffff;
        font-weight: 900;
        background: #3948FF;
        padding: 0px 11px;
        border-radius: 66%;
    }
    section#one-testi-sec {
        padding: 50px 0px;
    }
    
    

    .one-testi-small {
        padding: 20px;
    }

   
    .one-testi-div img {
        max-width: 100%;
        width:100%;
        margin-left: 29px;
        margin-right: 25px;
    }
    .one-testi-div {
        background: #D7DAFF;
        border-radius: 18px;
        display: flex;
        width: 80%;
        margin: 0px auto;
    }
    .one-testi-small p {
        font-size: 16px;
        font-family: 'Roboto-Regular';
        margin: 0px;
    }
    .down-testi span {
        font-size: 16px;
        font-family: 'Roboto-Regular';
    }
    .down-testi p {
        font-family: 'Roboto-Medium';
    }
    
    
    
    .down-testi {
        margin: 40px 0px 20px 0px;
    }
    
    .one-testi-small h6 {
        font-size: 32px;
        font-family: 'Roboto-Bold';
    }

    .head-title h6 {
        font-size: 32px;
        font-family: 'Roboto-Bold';
        text-align: center;
        margin-bottom: 25px;
    }
    section.faq-section {
        padding: 50px 0px;
    }
    .emp-list-title h3 {
        font-size: 16px;
        font-family: 'Roboto-Bold';
    }
  
    .tw-accordion {
        width: 75%;
        margin: 20px auto 0px auto;
    }
    .emp-accordion {
        width: 100%;
        float: left;
    }
    .emp-list-title {
        width: 100%;
        float: left;
        /* margin-bottom: 15px; */
    }
    .emp-list-accordion {
        width: 100%;
        float: left;
        padding: 12px 0;
        border-bottom: 1px solid #bfbfbf;
        margin-bottom: 20px;
    }
    .emp-list-title h3 a {
        width: 100%;
        display: inline-block;
        padding:7px 10px 18px 15px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #bfbfbf;
    }
    .emp-list-title h3 a:after{
        content: '\f107';
        position: absolute;
        top: 14px;
        right: 5px;
        display: inline-block;
        width: 30px;
        height: 20px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .openicon .emp-list-title h3 a:after{
        content: '\f106';
    }
    .emp-list-accordion{
        display: none;
    }
    .openicon .emp-list-accordion{
        display: inline-block;
    }
    
    @media only screen and (min-width : 993px){
        ul.sidemenu li ul {
            position: absolute;
            width: 115px !important;
            background: #3948ff;
            top: 150px;
            transition: all 0.6s ease;
            z-index: 9;
            opacity: 0;
            visibility: hidden;
            text-align: left;
        }
        ul.sidemenu li:hover ul {
            opacity: 1 !important;
            visibility: visible !important;
            top:30px;
            transition: all 0.6s ease;
        }
        .menuholder ul li ul li {
            padding: 7px 20px;
            border-bottom: 1px solid #8b8b8b;
            width: 100%;
        }
    }
    
    @media only screen and (max-width : 1200px){
        .header-menu{
            width: 80%;
        }
        ul.sidemenu li{
            padding: 25px 16px;
        }
    }
    
    @media only screen and (max-width : 992px){
        .menu-hide{
            width: 320px;
            height: 100vh;
            position: fixed;
            z-index: 9;
            transition: all 0.6s ease-in-out;
            right: -320px;
            background: #3948FF;
            top: 0;
        }
        .menuicon{
            position: relative;
            width: 40px;
            height: 40px;
            display: inline-block;
        }
        .menuicon:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            display: inline-block;
            top: 23px; 
            right: 0;
            background: url('../images/open-menu.png') no-repeat;
        }
        .header-menu{
            width: 40px !important;
        }
        .show{
            right: 0 !important;
            transition: all 0.6s ease-in-out;
            overflow-y: scroll;
        }
        ul.sidemenu li{
            width: 100%;
            text-align: left;
            border-bottom: 1px solid #3557a5fa;
            padding: 18px 20px;
        }
        ul.sidemenu{
            margin-top: 52px;
        }
        .menuicon.active:after{
            background: url('../images/close-menu.png') no-repeat;
            z-index: 999;
        }
        ul.sidemenu li ul {
            display: none;
            background: #3948FF;
            width: 100%;
            margin-top: 20px;
        }
        li.menu-dropdown-iconh.of-dwn:after{
            content: "" !important;
    
        }
        /* ---------------For Slick Slider--------------- */
        .banner-fix h1 {
            font-size: 30px;
        }
        .banner-fix{
            left: 8% !important;
        }
    }
    
    .emp-list-accordion p {
        font-family: 'Roboto-Regular';
        font-size: 16px;
    }
    
    .blogBox.moreBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } 
    section#show-more-footer {
        padding: 50px 0px;
        background: #f9faff;
    }
    .blogBox.moreBox p {
        font-size: 16px;
        font-family: 'Roboto-Regular';
    }
    .blogBox.moreBox.big-text p {
        font-size: 16px;
        font-family: 'Roboto-Medium';
    }
    div#loadMore {
        text-align: center;
    }
    .blogBox.moreBox.fade-text {
        opacity: 0.7;
    }
    div#loadMore a {
        color: blue;
        text-decoration: none;
        font-family: 'Roboto-Bold';
        font-size: 16px;
    }


    section#footer-sec {
        background: #0d1d32;
    }




